<div class="container-fluid">
	<div class="blog-header">
		<div class="row">
			<div class="col-sm-8 blog-main">
				<div class="blog-post" ng-repeat="blog in blogs" ng-click="getBlogDetail(blog._id)">
					<h2 class="blog-post-title">{{blog.title}}</h2>
					<p class="blog-post-meta">{{blog.created}}</p>
					<p>{{blog.outline}}</p>
					<hr />
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module">
					<h4>Archives</h4>
					<ol class="list-unstyled">
						<a href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>